* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background: #373f50;
}

.contact {
    background: #373f50;
}

.card-img-top {
    height: 100px;
    width: auto;
}

.footer1 {
    background: #373f50;
}

.btnlink {
    display: inline-block;
    padding: 8px;
    float: right;
    background-color: #373f50;
    color: white;
}

    .btnlink a {
        text-decoration: none;
        color: white;
    }

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #373f50;
    color: white
}

