<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="URL" value="https://59.163.46.2/TIN/PanInquiryBackEnd"/>
    <add key="PFXPassword" value="12345678"/>
    <add key="Certificatename" value="RAJESH GERA.pfx"/>
  </appSettings>
  <connectionStrings>
    <!--uttam Local System DataBase FDI-->
    <!--<add name="connectiondb" connectionString="aL88ocdv5/LCb5tsMSKQE8+B4v5lIFHl5GXF8qRVMAK/ggsztByuRQS9vZx4C7hVHCvXTgWxgp3elz284Y3EtOtb+1L3zDqNaf9gSUN/3z+frPiEUhVDBQ==" providerName="System.Data.SqlClient"/>-->

    <!--Wali Local System DataBase FDI-->
    <add name="connectiondb" connectionString="aL88ocdv5/Ixdr/+Dtk9vtJLbh0k49DqdMbwSK01hvdfyYZj8bOAYh3z8yN8GLiOwNWYzwNZxVydo0A+u4AZ3zqtcVcZc9kLTeweeDuHJj9jdokgr4AzFedhzU3JGfYd" providerName="System.Data.SqlClient"/>
    <!--Live Nic Server Database FDI-->
    <!--<add name="connectiondb" connectionString="aL88ocdv5/Iv9FrEqpsI1B9zPYqIxMXx7ZlwISThkqlDwhIjSNGffSeAVHbdZWSIHpoXoJsboCrIuUUfi1j0iiOabkW3rGc38JQexDt05AuM4q7qzSkBus3IkSwnC248" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="relay.emailgov.in" enableSsl="true" port="25" userName="noreply-srijandefence@gov.in" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="Strict-Transport-Security"/>
        <add name="Strict-Transport-Security" value="max-age=15768000"/>
        <remove name="X-Frame-Options"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-XSS-Protection"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>
        <add name="X-AspNetMvc-Version" value="DENY"/>
        <remove name="server"/>
        <remove name="P3P"/>
        <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
          <add verb="Head" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages enableViewState="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="1048576" executionTimeout="1200" enableVersionHeader="false" delayNotificationTimeout="20" requestValidationMode="2.0"/>
    <!--<httpCookies requireSSL="true" />-->
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">-->
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>-->
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <sessionState timeout="20" mode="InProc"/>
    <trust level="Full"/>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>