<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <add name="connectiondb" connectionString="aL88ocdv5/Kq/MF8J1Qtk+6AnMaH6dJtcBkuT7qx2N9CyzbHTAaAEtMwUxH5+xB7Q0HeiKdW8IeVNXq+zK3BW4DzrasGKnYXQ35xAT4/wHWFoPTtqo6qnA==" providerName="System.Data.SqlClient"/>
    <!--<add name="connectiondb" connectionString="aL88ocdv5/Kq/MF8J1Qtk+6AnMaH6dJtcBkuT7qx2N9CyzbHTAaAEp6078Hi2j8TmGjn3bh+woMdrb2GExeKDrrki9nUYldJpvvVzu39U3RiQkgmYruFZQ==" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="itsupport@aeroindia.in" password="ai17@321"/>
        <!--  <network host="relay.emailgov.in" enableSsl="true" defaultCredentials="true" port="465" userName="aeroindia-ddp@gov.in" password="Ddp@2019"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="104850" executionTimeout="600" enableVersionHeader="false" delayNotificationTimeout="20"/>
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>